body{
    /* background-image: url('../img/bk2.png'); */
    background-color:#151515;
    /* background-size: 300px 100px; */
    background-repeat: no-repeat;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movie_label {
    z-index: 100;
}

.row {
    margin-top: 80px;
}

#floatingGraph{
    position: absolute;
    left: 35%;

}

.content{
    color: rgba(255, 241, 191, 0.5);
}

footer {
    color: rgba(255, 241, 191, 0.5);
    text-align: center;
}
.char_node{
    position: relative;
    z-index:1;
}

.char_label {
    position: relative;
    z-index:100
}

.profile_pic {
    width: 50px;
    border-radius: 50%;
}

.char_node{
    border:none;
}

#searchBar{
    background-color:#151515;
    border-width: 0.2;
    border-color:rgba(250, 234, 234, 0.5);
    border-radius: 0;
    height:20px;
    width: 150px;
    margin-top:6px;
    color:#EA2327;
}

h1,h2,h3,h4,h5,h6, span{
    color: white;
}

.timeline-div{
    margin-top:40px;
    z-index: 99;
}

.movie_circles{
    cursor: pointer;
}

.movie_circles:hover{
    fill: rgba(255, 241, 191, 0.8);
}

.searchDropDown{
    margin-top:10px;
}

.searchCandidates{
    display: block;
    height: 100px;
}

input:focus { color:#EA2327 }

.dropDownItems{
    position: relative;
    display: inline-block;
    padding:6px 10px;
    height:20px;
    width: 150px;
    font-size: 12px;
    cursor: pointer;
    color:white;
    border-collapse: collapse;
    border-radius: 0;
    text-decoration: none;
    /* change dropdown background color here */
    background-color: #151515;
    /* change dropdown border color here */
    border: 1px solid rgba(250, 234, 234, 0.5);;
}


.dropDownItems:hover{
    /* change dropdown hover color here */
    background-color: #151515;
    color: #EA2327;
    /* border-color: white; */
}

.hovertext{
    /*width: 200px;*/
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    border: 1px solid white;
    padding: 5px 10px;
    position: absolute;
    z-index: 99;
    bottom: 150%;
    white-space: pre-line;
}

.hovertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}




